GCP_PROJECT_ID=your-gcp-project-id
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
SECRET_MANAGER_ENABLED=true
NODE_ENV=development
FACEBOOK_APP_SECRET=your-facebook-app-secret
FACEBOOK_APP_ID=your-facebook-app-id
FB_REDIRECT_URI=http://localhost:8080/callback